<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var erro = "<%= erro ? erro : '' %>";
            if (erro) {
                alert(erro);
            }
        });
    </script>
</head>
<body>
    <h1>Editar dados da tarefa: <%= tarefa.nome %></h1>
    <form action="/tarefa/<%= id %>/editar" method="post">
        <label>Nome: <input type="text" name="tarefa[nome]" value="<%= tarefa.nome %>" required></label><br>
        <label>Status: <input type="checkbox" name="tarefa[status]" <%= tarefa.status ? 'checked' : '' %>></label><br>
        <button type="submit">Enviar</button>
    </form>
    <a href="/">Voltar</a>
</body>
</html>
