<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var erro = "<%= erro ? erro : '' %>";
            if (erro) {
                alert(erro);
            }
        });
    </script>
</head>
<body>
    <h1>Lista de Tarefas</h1>
    <div>
        <a href="/">Todas as Tarefas</a>
        <a href="/tarefas/true">Tarefas Concluídas</a>
        <a href="/tarefas/false">Tarefas Pendentes</a>
    </div>
    <ul>
        <% tarefas.forEach((tarefa, index) => { %>
            <li>
                <%= tarefa.nome %> | Status: <%= tarefa.status ? 'Concluída' : 'Pendente' %>
                <a href="/tarefa/<%= index %>/editar">Editar</a> |
                <form action="/tarefa/<%= index %>/excluir" method="post" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <a href="/tarefa/nova">Adicionar Tarefa</a>
</body>
</html>
